In [1]:
import pandas as pd

In [2]:
results = pd.read_csv('result_search_wands.csv')

In [3]:
results

,index,salon chair,dinosaur,turquoise pillows,sofa with ottoman,ombre rug,outdoor privacy wall,beds that have leds,chrome bathroom 4 light vanity light,gurney slade 56,...,kitchen storage cabinet,trundle daybed,shoe closet,parsons chairs,wood bar stools,card table,bubble guppies chair,town & country living curtains,garage sports storage rack,hardwood beds
0,0,7465,34735,21028,38543,8536,8633,40178,32459,5123,...,4765,1752,41969,21597,7157,40273,32872,34913,29141,775
1,1,24010,34737,11452,20619,9145,36851,25156,17491,5155,...,6536,18848,22446,23847,35772,32808,6676,30353,27361,23849
2,2,9234,24094,5998,9687,8537,30538,28494,19632,16504,...,38548,41699,39391,34816,3719,6980,38549,33434,33624,24024
3,3,25431,195,25658,9909,28172,7098,13599,15892,17994,...,39061,842,22445,18161,14255,27022,38550,28697,39474,20641
4,4,39428,11840,30279,33252,25752,40883,13182,10259,9058,...,35410,36264,39396,18329,21958,14186,14492,6212,31989,23848
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,8994,-1,21238,15299,22295,13328,12438,29653,-1,...,17545,-1,5605,37085,4446,3095,38522,24695,38228,4108
496,496,29410,-1,21409,15285,24400,13319,40220,5818,-1,...,19282,-1,37008,27426,26972,16685,13799,9738,39152,4100
497,497,24159,-1,42798,15301,20093,13313,32705,24136,-1,...,19217,-1,37009,39742,21442,16691,17405,18359,20213,6008
498,498,23696,-1,12226,15288,42194,13339,42915,10612,-1,...,14509,-1,1623,19788,38993,29097,13790,11743,7911,9451
499,499,35791,-1,14719,15286,40645,21585,11343,31700,-1,...,28449,-1,16325,42240,5503,37301,18866,13677,27902,36297

In [4]:
products = pd.read_csv('products_wands.csv')
products

,product_id,product_name,product_description
0,38855,abheer floor shelf coffee table,when it comes to rounding out your living ense...
1,9929,addaly abstract coffee table,anchor your living room in mid-century style w...
2,5235,adoni coffee table,NaN
3,26772,ahart frame coffee table,your coffee table is a style centerpiece for y...
4,3510,ahern coffee table,the ahern 4 legs coffee table with storage is ...
...,...,...,...
42564,40245,podgorni hanging wine glass rack,display and protect your delicate wine or marg...
42565,40244,kena hanging wine glass rack,spruce up your farmhouse kitchen decor with th...
42566,13019,garrow hanging wine glass rack,save cabinet space and display favorite glasse...
42567,42846,esquire 2 5/8 '' length bar knob,NaN
42568,19315,naples 1 9/16 '' length bar knob,NaN

In [5]:
results.drop(columns=results.columns[0], axis=1, inplace=True)

In [6]:
results

,salon chair,dinosaur,turquoise pillows,sofa with ottoman,ombre rug,outdoor privacy wall,beds that have leds,chrome bathroom 4 light vanity light,gurney slade 56,sunflower,...,kitchen storage cabinet,trundle daybed,shoe closet,parsons chairs,wood bar stools,card table,bubble guppies chair,town & country living curtains,garage sports storage rack,hardwood beds
0,7465,34735,21028,38543,8536,8633,40178,32459,5123,37203,...,4765,1752,41969,21597,7157,40273,32872,34913,29141,775
1,24010,34737,11452,20619,9145,36851,25156,17491,5155,40761,...,6536,18848,22446,23847,35772,32808,6676,30353,27361,23849
2,9234,24094,5998,9687,8537,30538,28494,19632,16504,27500,...,38548,41699,39391,34816,3719,6980,38549,33434,33624,24024
3,25431,195,25658,9909,28172,7098,13599,15892,17994,35283,...,39061,842,22445,18161,14255,27022,38550,28697,39474,20641
4,39428,11840,30279,33252,25752,40883,13182,10259,9058,11848,...,35410,36264,39396,18329,21958,14186,14492,6212,31989,23848
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,8994,-1,21238,15299,22295,13328,12438,29653,-1,-1,...,17545,-1,5605,37085,4446,3095,38522,24695,38228,4108
496,29410,-1,21409,15285,24400,13319,40220,5818,-1,-1,...,19282,-1,37008,27426,26972,16685,13799,9738,39152,4100
497,24159,-1,42798,15301,20093,13313,32705,24136,-1,-1,...,19217,-1,37009,39742,21442,16691,17405,18359,20213,6008
498,23696,-1,12226,15288,42194,13339,42915,10612,-1,-1,...,14509,-1,1623,19788,38993,29097,13790,11743,7911,9451
499,35791,-1,14719,15286,40645,21585,11343,31700,-1,-1,...,28449,-1,16325,42240,5503,37301,18866,13677,27902,36297

In [7]:
df_test = pd.read_csv('df_test_wands.csv')
df_test.head()

,product_id,product_name,product_description,query,label
0,25434,21.7 '' w waiting room chair with wood frame,"this is a salon chair , barber chair for a hai...",salon chair,1.0
1,12088,22.5 '' wide polyester side chair,add a beautiful accent to any room with this m...,salon chair,0.0
2,42931,24.4 '' w metal lounge chair with metal frame,the heavy duty barber chair is built to last ....,salon chair,1.0
3,2636,25 '' wide faux leather manual swivel standard...,this is a chair designed for your barbershop ....,salon chair,1.0
4,42923,27.6 '' w antimicrobial leather seat waiting r...,NaN,salon chair,1.0

In [9]:
relevance_matrix = pd.DataFrame()

In [10]:
for column in results.columns:
    aux = []
    ground_truth = df_test[(df_test['query'] == column)]
    for item in results[column]: 
        if item in list(ground_truth['product_id']):
            aux.append(ground_truth[ground_truth['product_id'] == item]['label'].iloc[0])
        else:
            aux.append(0.0)
    relevance_matrix[column] = aux

In [11]:
relevance_matrix

,salon chair,dinosaur,turquoise pillows,sofa with ottoman,ombre rug,outdoor privacy wall,beds that have leds,chrome bathroom 4 light vanity light,gurney slade 56,sunflower,...,kitchen storage cabinet,trundle daybed,shoe closet,parsons chairs,wood bar stools,card table,bubble guppies chair,town & country living curtains,garage sports storage rack,hardwood beds
0,1.0,1.0,0.5,1.0,1.0,1.0,0.0,1.0,0.5,1.0,...,0.5,1.0,1.0,0.5,0.5,0.5,0.0,0.0,1.0,0.0
1,0.5,1.0,0.0,0.5,1.0,1.0,0.0,1.0,0.5,1.0,...,0.5,1.0,1.0,0.0,0.5,1.0,0.0,0.0,1.0,0.0
2,0.5,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.5,1.0,...,0.5,1.0,0.5,0.5,0.5,1.0,0.0,0.0,1.0,0.0
3,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.5,1.0,...,0.5,1.0,1.0,1.0,0.5,1.0,0.0,0.0,1.0,0.0
4,1.0,1.0,0.5,1.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0.5,1.0,0.5,1.0,0.5,1.0,0.5,0.0,0.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0.5,0.0,0.0,0.5,0.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.5,0.5,0.0,0.0,1.0,0.0
496,0.5,0.0,0.5,0.5,0.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.5,0.0,0.5,0.0,0.0
497,0.5,0.0,0.0,0.5,0.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.5,0.5,0.5,0.0,0.0,0.0,0.5
498,0.5,0.0,0.0,0.5,0.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.5,0.5,0.0,0.0,0.0,0.0
499,0.5,0.0,0.0,0.5,0.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.5,1.0,0.5,0.0,0.0,0.0,0.0

## NDCG

In [12]:
import numpy as np

In [13]:
def ndcg(rel_true, rel_pred, p=10):
    
    """ Returns normalized Discounted Cumulative Gain
    Args:
        rel_true (1-D Array): relevance lists for particular user, (n_songs,)
        rel_pred (1-D Array): predicted relevance lists, (n_pred,)
        p (int): particular rank position
        form (string): two types of nDCG formula, 'linear' or 'exponential'
    Returns:
        ndcg (float): normalized discounted cumulative gain score [0, 1]
    """
    
    
    rel_true = np.sort(rel_true)[::-1]
    p = min( len(rel_true), min(len(rel_pred), p) )
    discount = 1 / (np.log2(np.arange(p) + 2))

   
    idcg = np.sum(rel_true[:p] * discount)
    dcg = np.sum(rel_pred[:p] * discount)
   
    return dcg / idcg

# NDCG-5,25
# Recall - 500

In [14]:
ndcg_list = []
for column in relevance_matrix.columns:
    ground_truth = df_test[(df_test['query'] == column )].sort_values(by='label', ascending=False)
    ndcg_list.append(ndcg(ground_truth['label'],  list(relevance_matrix[column])))

## NDCG em Ordem Decrescente

In [15]:
dict_ndcg = {}
for index, column in enumerate(relevance_matrix.columns):
    dict_ndcg[column] = ndcg_list[index]

df_ndcg = pd.DataFrame(dict_ndcg, index=['NDCG'])
df_ndcg = df_ndcg.transpose()
df_ndcg.sort_values(by='NDCG', ascending=False)

                                NDCG
golub dining table               1.0
boho bed frame                   1.0
welcome sign                     1.0
mila task chair                  1.0
kitchen anti fatigue mats        1.0
...                              ...
dining room tables               0.0
small loving roomtables          0.0
small curtain rods               0.0
town & country living curtains   0.0
hardwood beds                    0.0

[96 rows x 1 columns]

## Média NDCG

In [16]:
df_ndcg['NDCG'].mean()

0.6935079241294373

## NDCG@1

In [17]:
relevance_matrix = relevance_matrix[:1]
relevance_matrix

,salon chair,dinosaur,turquoise pillows,sofa with ottoman,ombre rug,outdoor privacy wall,beds that have leds,chrome bathroom 4 light vanity light,gurney slade 56,sunflower,...,kitchen storage cabinet,trundle daybed,shoe closet,parsons chairs,wood bar stools,card table,bubble guppies chair,town & country living curtains,garage sports storage rack,hardwood beds
0,1.0,1.0,0.5,1.0,1.0,1.0,0.0,1.0,0.5,1.0,...,0.5,1.0,1.0,0.5,0.5,0.5,0.0,0.0,1.0,0.0

In [18]:
ndcg_list = []
for column in relevance_matrix.columns:
    ground_truth = df_test[(df_test['query'] == column )].sort_values(by='label', ascending=False)
    ndcg_list.append(ndcg(ground_truth['label'],  list(relevance_matrix[column])))

## NDCG em Ordem Decrescente

In [19]:
dict_ndcg = {}
for index, column in enumerate(relevance_matrix.columns):
    dict_ndcg[column] = ndcg_list[index]

df_ndcg = pd.DataFrame(dict_ndcg, index=['NDCG'])
df_ndcg = df_ndcg.transpose()
df_ndcg.sort_values(by='NDCG', ascending=False)

                          NDCG
salon chair                1.0
dinosaur                   1.0
industrial                 1.0
wishbone chair             1.0
bohemian                   1.0
...                        ...
almost heaven sauna        0.0
promo codes or discounts   0.0
moen 5995 arbor one        0.0
small loving roomtables    0.0
hardwood beds              0.0

[96 rows x 1 columns]

## Média NDCG

In [20]:
df_ndcg['NDCG'].mean()

0.7083333333333334