## Importação do Pandas

In [21]:
import pandas as pd

## Lendo o Dataset

In [22]:
df = pd.read_csv('wands_negative_subsampling.csv')

## Cabeçalho do Dataset

In [23]:
df.head()

,Unnamed: 0,id,query_id,product_id,label,query,query_class,product_name,product_class,category hierarchy,product_description,product_features,test,val
0,129,129,1,38855,0.5,smart coffee table,Coffee & Cocktail Tables,abheer floor shelf coffee table,Coffee & Cocktail Tables,Furniture / Living Room Furniture / Coffee Tab...,when it comes to rounding out your living ense...,style : modern & contemporary|dswoodtone : med...,0,0
1,130,130,1,9929,1.0,smart coffee table,Coffee & Cocktail Tables,addaly abstract coffee table,Coffee & Cocktail Tables,Furniture / Living Room Furniture / Coffee Tab...,anchor your living room in mid-century style w...,levelofassembly : partial assembly|topcolor : ...,0,0
2,131,131,1,5235,1.0,smart coffee table,Coffee & Cocktail Tables,adoni coffee table,Coffee & Cocktail Tables,Furniture / Living Room Furniture / Coffee Tab...,NaN,dsmetallic : gold|topcolor : clear|dsprimarypr...,0,0
3,132,132,1,26772,0.5,smart coffee table,Coffee & Cocktail Tables,ahart frame coffee table,Coffee & Cocktail Tables,Furniture / Living Room Furniture / Coffee Tab...,your coffee table is a style centerpiece for y...,dsprimaryproductstyle : industrial|style : ind...,0,0
4,133,133,1,3510,0.5,smart coffee table,Coffee & Cocktail Tables,ahern coffee table,Coffee & Cocktail Tables,Furniture / Living Room Furniture / Coffee Tab...,the ahern 4 legs coffee table with storage is ...,topcolor : cherry|topshape : rectangular|topco...,0,0

## Remoção de Colunas

In [24]:
df = df[['product_id', 'query', 'product_name', 'product_description', 'label']]
df

,product_id,query,product_name,product_description,label
0,38855,smart coffee table,abheer floor shelf coffee table,when it comes to rounding out your living ense...,0.5
1,9929,smart coffee table,addaly abstract coffee table,anchor your living room in mid-century style w...,1.0
2,5235,smart coffee table,adoni coffee table,NaN,1.0
3,26772,smart coffee table,ahart frame coffee table,your coffee table is a style centerpiece for y...,0.5
4,3510,smart coffee table,ahern coffee table,the ahern 4 legs coffee table with storage is ...,0.5
...,...,...,...,...,...
233443,11181,bubble guppies chair,henrika upholstered arm chair dining chair in ...,looking for comfortable dining seating with th...,0.5
233444,15439,bubble guppies chair,fellsburg linen upholstered parsons chair,NaN,0.5
233445,451,bubble guppies chair,olin upholstered side chair,if you are looking for a simple yet sleek dini...,0.5
233446,30764,bubble guppies chair,barbay lounge chair cushion,NaN,0.0
233447,16796,bubble guppies chair,haings upholstered parsons chair,this set of 2 armless side chairs boasts an up...,0.5

## Remoção de Linhas com Título, Query ou Relevância faltantes

In [25]:
df.dropna(subset=['product_name', 'query', 'label'], inplace=True)
df

,product_id,query,product_name,product_description,label
0,38855,smart coffee table,abheer floor shelf coffee table,when it comes to rounding out your living ense...,0.5
1,9929,smart coffee table,addaly abstract coffee table,anchor your living room in mid-century style w...,1.0
2,5235,smart coffee table,adoni coffee table,NaN,1.0
3,26772,smart coffee table,ahart frame coffee table,your coffee table is a style centerpiece for y...,0.5
4,3510,smart coffee table,ahern coffee table,the ahern 4 legs coffee table with storage is ...,0.5
...,...,...,...,...,...
233443,11181,bubble guppies chair,henrika upholstered arm chair dining chair in ...,looking for comfortable dining seating with th...,0.5
233444,15439,bubble guppies chair,fellsburg linen upholstered parsons chair,NaN,0.5
233445,451,bubble guppies chair,olin upholstered side chair,if you are looking for a simple yet sleek dini...,0.5
233446,30764,bubble guppies chair,barbay lounge chair cushion,NaN,0.0
233447,16796,bubble guppies chair,haings upholstered parsons chair,this set of 2 armless side chairs boasts an up...,0.5

## Substituição de float('NaN') por String Vazia

In [26]:
df['product_description'] = df['product_description'].replace(float("NaN"), '')
df

,product_id,query,product_name,product_description,label
0,38855,smart coffee table,abheer floor shelf coffee table,when it comes to rounding out your living ense...,0.5
1,9929,smart coffee table,addaly abstract coffee table,anchor your living room in mid-century style w...,1.0
2,5235,smart coffee table,adoni coffee table,,1.0
3,26772,smart coffee table,ahart frame coffee table,your coffee table is a style centerpiece for y...,0.5
4,3510,smart coffee table,ahern coffee table,the ahern 4 legs coffee table with storage is ...,0.5
...,...,...,...,...,...
233443,11181,bubble guppies chair,henrika upholstered arm chair dining chair in ...,looking for comfortable dining seating with th...,0.5
233444,15439,bubble guppies chair,fellsburg linen upholstered parsons chair,,0.5
233445,451,bubble guppies chair,olin upholstered side chair,if you are looking for a simple yet sleek dini...,0.5
233446,30764,bubble guppies chair,barbay lounge chair cushion,,0.0
233447,16796,bubble guppies chair,haings upholstered parsons chair,this set of 2 armless side chairs boasts an up...,0.5

## Troca das Labels

In [27]:
df['label'].replace({0.5: 1, 1.0: 2, 0.0: 0}, inplace=True)
df

,product_id,query,product_name,product_description,label
0,38855,smart coffee table,abheer floor shelf coffee table,when it comes to rounding out your living ense...,1.0
1,9929,smart coffee table,addaly abstract coffee table,anchor your living room in mid-century style w...,2.0
2,5235,smart coffee table,adoni coffee table,,2.0
3,26772,smart coffee table,ahart frame coffee table,your coffee table is a style centerpiece for y...,1.0
4,3510,smart coffee table,ahern coffee table,the ahern 4 legs coffee table with storage is ...,1.0
...,...,...,...,...,...
233443,11181,bubble guppies chair,henrika upholstered arm chair dining chair in ...,looking for comfortable dining seating with th...,1.0
233444,15439,bubble guppies chair,fellsburg linen upholstered parsons chair,,1.0
233445,451,bubble guppies chair,olin upholstered side chair,if you are looking for a simple yet sleek dini...,1.0
233446,30764,bubble guppies chair,barbay lounge chair cushion,,0.0
233447,16796,bubble guppies chair,haings upholstered parsons chair,this set of 2 armless side chairs boasts an up...,1.0

In [28]:
df['label'] = df['label'].astype(int)
df

,product_id,query,product_name,product_description,label
0,38855,smart coffee table,abheer floor shelf coffee table,when it comes to rounding out your living ense...,1
1,9929,smart coffee table,addaly abstract coffee table,anchor your living room in mid-century style w...,2
2,5235,smart coffee table,adoni coffee table,,2
3,26772,smart coffee table,ahart frame coffee table,your coffee table is a style centerpiece for y...,1
4,3510,smart coffee table,ahern coffee table,the ahern 4 legs coffee table with storage is ...,1
...,...,...,...,...,...
233443,11181,bubble guppies chair,henrika upholstered arm chair dining chair in ...,looking for comfortable dining seating with th...,1
233444,15439,bubble guppies chair,fellsburg linen upholstered parsons chair,,1
233445,451,bubble guppies chair,olin upholstered side chair,if you are looking for a simple yet sleek dini...,1
233446,30764,bubble guppies chair,barbay lounge chair cushion,,0
233447,16796,bubble guppies chair,haings upholstered parsons chair,this set of 2 armless side chairs boasts an up...,1

## Selecionando Produtos Únicos para Indexar

In [29]:
df.drop_duplicates(inplace=True, subset='product_name')
df

,product_id,query,product_name,product_description,label
0,38855,smart coffee table,abheer floor shelf coffee table,when it comes to rounding out your living ense...,1
1,9929,smart coffee table,addaly abstract coffee table,anchor your living room in mid-century style w...,2
2,5235,smart coffee table,adoni coffee table,,2
3,26772,smart coffee table,ahart frame coffee table,your coffee table is a style centerpiece for y...,1
4,3510,smart coffee table,ahern coffee table,the ahern 4 legs coffee table with storage is ...,1
...,...,...,...,...,...
232334,40245,wine bar,podgorni hanging wine glass rack,display and protect your delicate wine or marg...,0
232335,40244,wine bar,kena hanging wine glass rack,spruce up your farmhouse kitchen decor with th...,0
232336,13019,wine bar,garrow hanging wine glass rack,save cabinet space and display favorite glasse...,0
232553,42846,wine bar,esquire 2 5/8 '' length bar knob,,0
232556,19315,wine bar,naples 1 9/16 '' length bar knob,,0

## Seleção de Colunas para Indexação

In [30]:
df = df[['product_id', 'product_name', 'product_description']]
df

,product_id,product_name,product_description
0,38855,abheer floor shelf coffee table,when it comes to rounding out your living ense...
1,9929,addaly abstract coffee table,anchor your living room in mid-century style w...
2,5235,adoni coffee table,
3,26772,ahart frame coffee table,your coffee table is a style centerpiece for y...
4,3510,ahern coffee table,the ahern 4 legs coffee table with storage is ...
...,...,...,...
232334,40245,podgorni hanging wine glass rack,display and protect your delicate wine or marg...
232335,40244,kena hanging wine glass rack,spruce up your farmhouse kitchen decor with th...
232336,13019,garrow hanging wine glass rack,save cabinet space and display favorite glasse...
232553,42846,esquire 2 5/8 '' length bar knob,
232556,19315,naples 1 9/16 '' length bar knob,

## Salvando em um arquivo CSV

In [33]:
df.to_csv('products_wands.csv', index=False)